<div class="todo-content" *ngIf="!newTrustFormVisible">
<h1 class="page-title">12 FACTOR APP</h1>
<button class="app-button" type="submit" (click)="getInitialTodos()">CODEBASE</button>&nbsp;
<button class="app-button" type="submit" (click)="getInitialTodos()">CACHING</button><br><br>
<button class="app-button" type="submit" (click)="getInitialTodos()">DEPENDENCIES</button>&nbsp;
<button class="app-button" type="submit" (click)="getInitialTodos()">BACKING SERVICES</button><br><br>
<button class="app-button" type="submit" (click)="getInitialTodos()">BUILD, RELEASE & RUN</button>&nbsp;
<button class="app-button" type="submit" (click)="getInitialTodos()">PROCESSES</button><br><br>
<button class="app-button" type="submit" (click)="getInitialTodos()">PORT BINDING</button>&nbsp;
<button class="app-button" type="submit" (click)="getInitialTodos()">CONCURRENCY</button><br><br>
<button class="app-button" type="submit" (click)="getInitialTodos()">DISPOSABILITY</button>&nbsp;
<button class="app-button" type="submit" (click)="getInitialTodos()">DEV/PROD PARITY</button><br><br>
<button class="app-button" type="submit" (click)="getInitialTodos()">LOGS</button>&nbsp;
<button class="app-button" type="submit" (click)="getInitialTodos()">ADMIN PROCESSES</button>
</div>

<div class="todo-content" *ngIf="newTrustFormVisible">
    <h1 class="page-title">CACHING SCANNER</h1>
    <div class="todo-create">
      <form #todoForm="ngForm" (ngSubmit) = "createTodo(todoForm)" novalidate>
       <span class="div-title"> Git Path: </span><input type="text" id="gitPath" class="form-control" placeholder="Type Git path of project code for scanning" 
               required
               name="gitPath" [(ngModel)]="newTodo.gitPath"
               #title="ngModel" >
               <span class="div-title">OR</span><br>
        <span class="div-title">Local Path:</span><input type="text" id="localPath" class="form-control" placeholder="Type Local path of project code for scanning" 
               required
               name="localPath" [(ngModel)]="newTodo.localPath"
               #title="ngModel" ng-disabled="all">
               <br>
               <br>
               
<input type="checkbox" ng-checked="all">Hibernate &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" ng-checked="all">Ehcache&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" ng-checked="all">LRUCache&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" ng-checked="all">Redis&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" ng-checked="all">LRUCache&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" ng-checked="all">Memcached&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" ng-checked="all">Guava&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="new-filter-button" type="submit">Add Filter</button>

       <h1 class="page-title"> <button class="caching-button" type="submit">Search</button></h1>
      </form>
    </div>
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]= "todo.completed === true" >
        <div class="todo-row" *ngIf="!editing || editingTodo.id != todo.id">
            <!-- <a class="todo-completed" (click)="toggleCompleted(todo)">
              <i class="material-icons toggle-completed-checkbox"></i> 
            </a>  -->
    <h1 class="page-title">
              {{todo.scankey}}
              </h1>
            <span class="todo-title">	
              
              <ul>
      			<li *ngFor="let filenames of todo.scanvalue"> 
      			 <b>
      			{{filenames.filename}}
      			</b>	
      			<ul>
      			<li *ngFor="let components of filenames.component"> 
      			{{components}}
      			</li>
    		  </ul>
      			
      			</li>
    		  </ul>
            </span>
            <!--  <span class="todo-actions">
                <a (click)="editTodo(todo)">
                  <i class="material-icons edit">edit</i>
                </a>
                <a (click)="deleteTodo(todo.id)">
                  <i class="material-icons delete">clear</i>
                </a>
            </span>-->
        </div>
        <div class="todo-edit" *ngIf="editing && editingTodo.id === todo.id">
            <input class="form-control" type="text" 
             [(ngModel)]="editingTodo.title" required>
            <span class="edit-actions">
                <a (click)="updateTodo(editingTodo)">
                  <i class="material-icons">done</i>
                </a>
                <a (click)="clearEditing()">
                  <i class="material-icons">clear</i>
                </a>
            </span>
        </div>
      </li>
    </ul>
    <div class="no-todos" *ngIf="todos && todos.length == 0">
        <p></p>
    </div>
</div>