/* You can add global styles to this file, and also import other style files */

body {
  font-size: 18px;
  line-height: 1.58;
  background: #d53369;
  background: -webkit-linear-gradient(to left, #cbad6d, #d53369);
  background: linear-gradient(to left, #cbad6d, #d53369); 
  color: #333;
}

h1 {
  font-size: 36px;
}

* {
  box-sizing: border-box;
}

i {
  vertical-align: middle;
  color: #626262;
}

input {
  border: 1px solid #E8E8E8;
}

.page-title {
  text-align: center;
}

.todo-content {
  max-width: 80%;
  width: 100%;
  display:block;
  position:absolute;
  margin-left:8%;
  margin-right:5%;
  margin-top: 60px;
  background-color: #fff;
  padding: 15px; 
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.form-control {
  font-size: 16px;
  padding-left: 15px;
  outline: none;
  border: 1px solid #E8E8E8;
}

.form-control:focus {
  border: 1px solid #626262;
}

.todo-content .form-control {
  width: 100%;
  height: 50px;
}

.todo-content .todo-create {
  padding-bottom: 30px;
  border-bottom: 1px solid #e8e8e8;
}

.todo-content .alert-danger {
  padding-left: 15px;
  font-size: 14px;
  color: red;
  padding-top: 5px;
}

.todo-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
  
}

.todo-content ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
}

.todo-content ul li span {
  display: inline-block;
  vertical-align: middle;
}

.todo-content .todo-title {
  width: calc(100% - 160px);
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-content .todo-completed {
  display: inline-block;
  text-align: center;
  width:35px;
  height:35px;
  cursor: pointer;
}

.todo-content .todo-completed i {
  font-size: 20px;
}

.todo-content .todo-actions, .todo-content .edit-actions {
    float: right;
}

.todo-content .todo-actions i, .todo-content .edit-actions i {
    font-size: 17px;
}

.todo-content .todo-actions a, .todo-content .edit-actions a {
  display: inline-block;
  text-align: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.todo-content .todo-actions a:hover, .todo-content .edit-actions a:hover {
  background-color: #f4f4f4;
}

.todo-content .todo-edit input {
  width: calc(100% - 80px);
  height: 35px;
}
.todo-content .edit-actions {
  text-align: right;
}

.no-todos {
  text-align: center;
}

.toggle-completed-checkbox:before {
  content: 'check_box_outline_blank';
}

li.completed .toggle-completed-checkbox:before {
  content: 'check_box';
}

li.completed .todo-title {
  text-decoration: line-through;
  color: #757575;
}

li.completed i {
  color: #757575;
}

.caching-button 
 {
    background-color: #f93d66;
    border: none;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    width: 200px;
    cursor: pointer;
    padding: 14px 19px 14px 19px;
    }
    
.app-button 
 {
    background-color: #f93d66;
    border: none;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    width: 48%;
    cursor: pointer;
    padding: 14px 19px 14px 19px;
    }
    
.new-filter-button 
 {
    background-color: #f93d66;
    border: none;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    }
    
  .div-title {
  text-align: center;
  font-weight: 500;
    font-size: 15px;
    font-weight:bold;
    
}
    
    
    